langchain
langchain-community
langchain-groq
langchain-huggingface
playwright
beautifulsoup4
sentence-transformers
chromadblangchain
langchain-community
langchain-groq
langchain-huggingface
playwright
beautifulsoup4
sentence-transformers
chromadb
